@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900 !important;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  font-weight: bolder !important;
  transition: all 0.4s ease;
  color: black !important;
}

.navbar {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
  position: relative;
}
.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
  z-index: -1;
}
.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 14px 22px;
}
.btn-main {
  background: linear-gradient(#00e0fe, #1107fe);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease;
}
.btn:hover {
  color: white;
  transform: translateY(-5px);
}
.section-intro {
  margin-bottom: 40px;
}
.section-intro .divider {
  height: 5px;
  width: 70px;
  margin: 16px auto;
  background: linear-gradient(to right, #00e0fe, #1107fe);
}
.service .service-img {
  position: relative;
}
.service .service-img .icon {
  width: 90px;
  height: 90px;
  background: linear-gradient(to right, #00e0fe, #1107fe);
  color: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  position: absolute;
  bottom: -45px;
  transform: translateX(-50%);
  left: 50%;
}
.video-btn {
  width: 60px;
  height: 60px;
  background: linear-gradient(to right, #00e0fe, #1107fe);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 100px;
}
.feature i {
  background: -webkit-linear-gradient(#00e0fe, #1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 54px;
}
.play {
  font-size: 45px;
}
.review .person {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 18px;
}
.review .person img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}
.review {
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
}
.review .stars {
  color: orange;
}
form .form-control{
  
  border-radius: 0;
  background: transparent;
  color: white;

}
form input .form-control{
  height: 54px;
}
form .form-control::placeholder{
  color: white;
}
form .form-control:focus{
  color: white;
  background: transparent;

}
footer{
  background: linear-gradient(to left, #00e0fe, #1107fe);
  color: white;
}
footer a{
  color: white !important;
  font-size: 25px !important;
}
